<!DOCTYPE html>
<html>

<head>
  <div align='center'>
    <h1>Rock-Paper-Scissors</h1>
    <h2>May the best hand win!</h2>
</head>

<body>

  <form action="new_game" method="post">
    <p>Enter your name:
      <input type="text" name="player" </p><br>
      <button type="submit" value="Play">Start Game</a></button>

  </form>

</body>


</html>
