<!DOCTYPE html>
<html>

<link rel="stylesheet" href="<%= url('/styles.css') %>">


<head>
  <div align='center'>
    <h1>Rock Paper Scissors</h1>
    <h2>May the best hand win!</h2>
</head>


<body>



  <form action="new_game" method="post">

    <p>Enter your name: <input type="text" name="player"</p>
  </br>
  </br>
</br>
    <input type="submit" value="Start Game"></input>

  </form>

</body>


</html>
