<!DOCTYPE html>
<html>

<head>
  <div style="color:blue" align='center'>
    <h1> Welcome <%= $player %> </h1>

  </div>
</head>

<body>
<p>Make your choice</p>
<button type="submit" value="Rock">Rock</button>
<button type="submit" value="Paper">Paper</button>
<button type="submit" value="Scissors">Scissors</button>
</body>

</html>
